docopt==0.6.2
ImageIO==2.37.3
lazy-loader==0.5
networkx==3.6.1
numpy==1.26.4
packaging==26.2
pillow==12.2.0
pykwalify==1.8.0
pyradiomics==3.0.1
python-dateutil==2.9.0.post0
PyWavelets==1.9.0
ruamel.yaml==0.19.1
scikit-image==0.26.0
scipy==1.13.1
simpleitk==2.5.5
six==1.17.0
tifffile==2026.3.3
trimesh==3.23.5
versioneer==0.29
